%% -*- mode: Erlang; -*-
{erl_opts,      [debug_info]}.
{xref_checks,   [undefined_function_calls]}.
{eunit_opts,    [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{clean_files,   [".eunit", "ebin/*.beam"]}.

% Deps
{deps,[
  {lager,     ".*", {git, "git://github.com/basho/lager.git",         {branch, "master"} } }
]}.

{erl_opts, [{parse_transform, lager_transform}]}.
